body{
    margin: 0;
    background-image: url(img.jpg);
    background-position: center;
    background-size: cover;
}

#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

#clock{
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    color: white;
    backdrop-filter: blur(3px);
    width: 100%;
    background-color: hsla(0, 0%, 100%, 0.192);
}